/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
body{ Zinfandel Capital of Petaluma, CA
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}
